body {
    background-color: blanchedalmond;
}

#message-container, #seagull-container {
    text-align: center;
    margin: auto;
    width: 500px;
}

#seagull {
    display: block;
    opacity: 0;
    margin: auto;
    transition: 3.75s;
}

#message {
    font-size: 32px;
    font-family: sans-serif;
}